* {
  font-family: "Poppins", sans-serif;
}

.footer {
  width: 100%;
  min-height: 95px;
  padding: 20px 0;
  margin: 0;
  background: #2e2e4d;
}

.footer p {
  color: whitesmoke;
  margin: 20px auto;
  padding: 20px auto;
  text-align: center;
}