* {
  font-family: "Poppins", sans-serif;
}

.myaccount-tabcontent h1 {
  font-size: 30px;
  font-family: sans-serif;
  color: #598392;
  margin-bottom: 10px;
  margin-top: 15px;
}

.myaccount-tabcontent p {
  color: #0b0b0bc8;
  padding-bottom: 10px;
}

.myaccount-tabcontent h3 {
  color: #070707c8;
  margin-bottom: 10px;
}

#my-password .error {

  display: flex;
  color: red;
  font-weight: 700;

}

#my-password form {

  padding: 20px 60px 60px 60px;
  display: block;
  width: 40%;
  background-color: white;
  margin-top: 40px;
  margin-left: 250px;
  box-shadow: 1px 5px 5px 1px rgb(177, 177, 177);
}

#my-password form .image {
  display: grid;
  place-content: center;
}

#my-password form .image h4 {
  text-align: center;
  color: black;
  font-size: 18px;
  margin-top: 20px;
}

#my-password form .image>img {
  height: 200px;
  width: 200px;
  margin-top: 20x;
}

#my-password form div label {
  display: inline-block;
  width: 30%;
  color: black;
  font-family: sans-serif;
}

#my-password form a {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.inputs div {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-color: rgb(19, 19, 19);
  border-style: solid;
  border-radius: 5px;
  opacity: 0.7;
  gap: 5px;
  height: 30px;
}

.inputs div>input {
  width: 200px;
  padding: 5px 10px;
  border: none;
}

.inputs div>i {
  margin-right: 5px
}

.inputs div>input:focus {
  outline: none;
}


/* #my-password form div input {
  display: inline-block;
  width: 55%;
  margin-bottom: 10px;
  height: 25px;
  background-color: white;
  border: 1px solid black;
  padding: 0px 5px 0px 5px;
} */

.spass {
  margin-top: 10px;
  width: 100px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 10px;
  background-color: #598392;
  color: white;
  cursor: pointer;
  overflow: hidden;
  border: none;

}

.spass:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: white;
  color: black;
  border: 1px solid
}

.cpass {
  margin-top: 10px;
  width: 100px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 10px;
  background-color: #598392;
  color: white;
  cursor: pointer;
  overflow: hidden;
  border: none;
  margin-left: 10px;
}

.cpass:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: white;
  color: black;
  border: 1px solid;
}




@media (max-width: 1021px) {
  #my-password form {
    padding: 8%;
    display: block;
    width: auto;
    background-color: white;
    margin: 50px 100px 0px 100px;
    box-shadow: 1px 1px 1px 1px gray;
  }
}

@media (max-width: 861px) {
  #my-password form {
    margin: 50px 70px 0px 70px;
  }
}

@media (max-width: 790px) {

  #my-password form .input-pass {
    display: grid;
    flex-direction: column;
    width: auto;
  }

  #my-password form div label,
  #my-password form div input {
    width: 100%;
  }


}

@media (max-width: 526px) {
  #my-password form {
    margin: 50px 40px 0px 40px;
  }
}

@media (max-width: 420px) {
  #my-password form {
    margin: 30px 20px 0px 20px;
  }
}

@media (max-width: 348px) {
  .cpass {
    margin-left: 0px;
  }
}