* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    padding-left: 300px;
    padding-right: 24px;
    font-size: 17px;
    background-color: #eaebeb86;
}

.myaccount-container {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 10px;
    width: 260px;
    height: 100%;
    background-color: #598392;
    transition: 200ms linear;
    font-family: sans-serif;
    font-size: 17px;
}

.system-title {
    position: absolute;
    top: 50px;
}

.system-title>a img {
    height: 230px;
    width: 260px;
    overflow: hidden;
    margin-top: -50px;
}

.myaccount-tabs {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.myaccount-tabs-push {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 0.6rem);
    margin-top: 150px;
}

.myaccount-tablinks {
    display: flex;
    width: calc(100% - 5rem);
    background-color: #598392;
    text-decoration: none;
    color: white;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 3rem;
    padding: 10px 15px;
    transition: all 300ms ease;
    border: none;
}

.myaccount-tablinks .active {
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    margin-left: 3rem;
    width: calc(100% - 3rem);
}

.myaccount-tablinks:hover {
    margin-left: 3.5rem;
    background-color: rgb(255, 255, 255);
    padding: 20px 25px;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    width: calc(100% - 6.5rem);
}

.myaccount-tablinks p {
    display: block;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    color: white;
}

.myaccount-tablinks p:hover {
    color: black;
}

/* Per-Section */
.admin-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px;
    width: 100%;
    color: #060a0bc8;
}

.admin-header h1 {
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #598392;
    margin-top: 20px;
    margin-bottom: 10px;
}

.admin-header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
}

.data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.data-analytics {
    display: flex;
    flex-direction: column;
}

.data-analytics .title>p {
    padding-top: 20px;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #598392;
}

.services-graph {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
    gap: 20px;
    position: absolute;
    margin-top: 55px;
    margin-left: 20px;
}

.services-tab {
    padding: 20px;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 10px 10px 1px grey;
    border-radius: 10px;
}

.services-tab h1 {
    color: white;
    font-size: 40px;
    align-self: flex-start;
    margin-top: 10px;
}

.services-tab .num {
    color: white;
    position: absolute;
    margin-left: 60px;
    font-size: 30px;
    font-weight: bold;
    margin-top: -70px;
}

.services-tab>p {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    color: white;
}

.services-tab button {
    margin-top: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    padding-left: 10px;
    padding-right: 10px;
    color: #f6f9fa;
}

.services-tab button:hover {
    color: #f6f9fa;
    background-color: rgb(53, 51, 51);
}

.services-graph #graph1 {
    background-color: rgb(255, 86, 86);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.services-graph #graph1:hover {
    transform: scale(1.1);
}

.services-graph #graph2 {
    background-color: rgb(0, 179, 255);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.services-graph #graph2:hover {
    transform: scale(1.1);
}

.services-graph #graph3 {
    background-color: rgb(20, 192, 135);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.services-graph #graph3:hover {
    transform: scale(1.1);
}

.services-graph #graph4 {
    background-color: rgb(234, 244, 104);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.services-graph #graph4:hover {
    transform: scale(1.1);
}

.services-graph #graph5 {
    background-color: rgb(152, 99, 244);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.services-graph #graph5:hover {
    transform: scale(1.1);
}

.services-graph #graph6 {
    background-color: rgb(247, 190, 46);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.services-graph #graph6:hover {
    transform: scale(1.1);
}

.services-graph #graph7 {
    background-color: rgb(75, 126, 230);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.services-graph #graph7:hover {
    transform: scale(1.1);
}

.services-graph #graph8 {
    background-color: rgb(181, 92, 103);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.services-graph #graph8:hover {
    transform: scale(1.1);
}

.avail .services {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #598392;
    font-family: sans-serif;
}

.avail-tab {
    padding: 20px;
    height: 420px;
    width: 500px;
    background-color: rgb(255, 254, 254);
    box-shadow: 1px 5px 5px 1px rgb(165, 164, 164);
    margin-left: -30px;
    border-radius: 20px;
}

.avail-tab>p {
    font-size: 1rem;
    font-weight: 500;
    color: #2e6e86;
}

.avail-tab .chart-box {
    display: grid;
    position: relative;
    height: 40vh;
    width: 40vw;
    padding-top: 20px;
    place-content: center;
}

.chart-box #myChart {
    margin-top: 30px;
    margin-left: -50px;
}

.avail-tab .availed-days {
    display: grid;
    place-content: center;
}

.chart-box h2 {
    color: black;
    margin-top: 80px;
    margin-left: -100px;
}

/* table!!!! */

/* .admin-users {} */

.user-container {
    border: none;
    box-shadow: 1px 10px 10px 1px rgb(157, 156, 156);
    margin-top: 50px;
    min-width: 1150px;
}

.services h1 {
    margin-left: 20px;
    font-size: 1.5rem;
    color: #598392;
    font-family: sans-serif;
    font-weight: bold;
}

.admin-users .services {
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 800;
    color: #598392;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 1150px;
    height: fit-content;
    padding-bottom: 40px;
    padding-left: 40px;
}

.table-user {
    padding: 20px;
}

.content-table thead tr {
    background-color: #598392;
    color: white;
    text-align: center;
    font-weight: bold;
}

.content-table thead {
    display: inline-block;
}

.content-table tbody {
    display: inline-block;
    overflow-y: scroll;
    height: 400px;
}

.content-table tbody::-webkit-scrollbar {
    display: none;
}

.content-table th,
.content-table td {
    padding: 12px 30px;
    text-align: left;
}

.content-table tbody tr {
    border-bottom: 1px solid rgb(197, 195, 195);
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #cdcaca;
}

.user-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/*Address*/
.address {
    border: none;
    width: 550px;
    margin-bottom: 90px;
    border-radius: 20px;
    box-shadow: 1px 10px 10px 1px rgb(169, 168, 168);
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 50px;
}

.address:hover {
    transform: scale(1.1);
}

.address-box h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.addresses h1 {
    color: #598392;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
    font-size: 1.5rem;
    color: #598392;
    font-family: sans-serif;
    font-weight: bold;
}

.address-analytics {
    height: 400px;
}